common --enable_bzlmod

# Build settings
build --verbose_failures
build --show_progress_rate_limit=5

# Test settings
test --test_strategy=exclusive
test --test_output=errors
test --verbose_failures=true

# Coverage settings
coverage --experimental_generate_llvm_lcov
coverage --combined_report=lcov
coverage --instrumentation_filter=//Sources/...
coverage --experimental_split_coverage_postprocessing
coverage --test_env=LCOV_MERGER=/usr/bin/true

# Cache settings
build --repository_cache=~/.cache/bazel-repo
build --disk_cache=~/.cache/bazel-disk
