{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            background-color: #000084;
            color: #ffffff;
        }
        
        .navbar {
            background-color: #000084;
            border-bottom: 1px solid #ffffff;
        }
        
        .navbar-default .navbar-nav > li > a {
            color: #ffffff;
        }
        
        .navbar-default .navbar-brand {
            color: #ffffff;
        }
        
        .well {
            background-color: #000084;
            border: 1px solid #ffffff;
        }
        
        code, pre {
            font-family: 'Monoid', monospace !important;
            background-color: #000084;
            color: #ffffff;
            border: 1px solid #ffffff;
        }
        
        a {
            color: #00ffff;
        }
        
        a:hover {
            color: #ffffff;
            text-decoration: none;
        }
        
        h1, h2, h3, h4, h5, h6 {
            color: #ffffff;
        }
        
        .bs-sidebar .nav > li > a {
            color: #ffffff;
        }
        
        .bs-sidebar .nav > li > a:hover {
            color: #00ffff;
            background-color: transparent;
        }
        
        .form-control {
            background-color: #000084;
            color: #ffffff;
            border: 1px solid #ffffff;
        }
        
        table {
            border: 1px solid #ffffff;
        }
        
        th, td {
            border: 1px solid #ffffff;
            padding: 8px;
        }
        
        blockquote {
            border-left: 5px solid #ffffff;
            background-color: #000084;
        }
        
        .alert {
            background-color: #000084;
            border: 1px solid #ffffff;
            color: #ffffff;
        }
        
        footer {
            border-top: 1px solid #ffffff;
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content">
        {{ super() }}
    </div>
{% endblock %}
