---
layout: default
---

<div class="row">
    <div class="col-md-4">
        <div class="docs-nav">
            <h3>Documentation</h3>
            <ul>
                <li {% if page.url == "/getting-started" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/getting-started">Getting Started</a>
                </li>
                <li {% if page.url contains "/guides/" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/guides">Guides</a>
                    {% if page.url contains "/guides/" %}
                    <ul>
                        <li><a href="{{ site.baseurl }}/guides/architecture">Architecture</a></li>
                        <li><a href="{{ site.baseurl }}/guides/thread-safety">Thread Safety</a></li>
                        <li><a href="{{ site.baseurl }}/guides/error-handling">Error Handling</a></li>
                        <li><a href="{{ site.baseurl }}/guides/performance">Performance</a></li>
                        <li><a href="{{ site.baseurl }}/guides/keychain">Keychain Service</a></li>
                        <li><a href="{{ site.baseurl }}/guides/crypto">Crypto Service</a></li>
                        <li><a href="{{ site.baseurl }}/guides/bookmarks">Bookmark Service</a></li>
                        <li><a href="{{ site.baseurl }}/guides/logging">Logging</a></li>
                        <li><a href="{{ site.baseurl }}/guides/xpc">XPC Service</a></li>
                    </ul>
                    {% endif %}
                </li>
                <li {% if page.url contains "/api/" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/api">API Documentation</a>
                </li>
                <li {% if page.url contains "/security/" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/security">Security</a>
                </li>
                <li {% if page.url == "/contributing" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/contributing">Contributing</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="docs-content">
            {{ content }}
        </div>
    </div>
</div>
